.leftsection {
    max-height: 100vh; /* Set the maximum height to the viewport height */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }
  
.padno {
    padding-bottom: 3rem !important;
}
  
/* Hide scrollbar for all browsers */
body::-webkit-scrollbar {
    width: 0 !important;
}

.leftsection::-webkit-scrollbar {
    width: 0 !important;
}
body {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }
  