
.title-input {
    width: 97vh;/* Allow the textarea to grow horizontally */
    height: 60px; 
    border: 2px solid grey;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    outline: none;
    transition: border-color 0.2s;
    resize: none; /* Prevent manual resizing */
    box-sizing: border-box; /* Include padding and border in total height */
    line-height: normal; /* Reset line-height to normal */
    overflow: hidden; /* Hide the scrollbar */
}
.title-input2 {
    width: 97vh;/* Allow the textarea to grow horizontally */
    height: 50px; 
    border: 2px solid grey;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    outline: none;
    transition: border-color 0.2s;
    resize: none; /* Prevent manual resizing */
    box-sizing: border-box; /* Include padding and border in total height */
    line-height: normal; /* Reset line-height to normal */
    overflow: hidden; /* Hide the scrollbar */
}
.title-input:focus {
    border-color: black; /* Change border color on focus */
}
 .title-input2:focus {
    border-color: black; /* Change border color on focus */
}
.title-input::placeholder {
    /* Adjust placeholder alignment to the bottom */
    vertical-align: bottom;
}

.row{
    display: flex !important;
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
}

.icon {
    height: 40px;
    width: 40px;
}
.icon2 {
    height: 30px;
    width: 30px;
}

.ql-editor p{
    font-family: 'Times New Roman', Times, serif !important;; 
    font-size: 20px !important;; 
    
}

.ql-editor{
    height:30rem !important;
}

.ql-snow .ql-editor img {
    max-width: 100% !important;
    display: flex  !important;
    justify-content: center !important;
}

.gg{
    background:url("../../assets/images/messageformbglight.jpg") bottom !important;
    background-position: center;
    background-repeat: repeat;
    background-size: 20% !important; 
    background-attachment: fixed;   
}


.marketing2{
    background-color: white;
    height: auto;
    width: 100vh;
    padding-top:8rem;
}
.text-box{
    height: auto;
    overflow-y: auto ;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin: 5px; /* Optional: Add some spacing between the labels */
  }
  
  /* For even-indexed labels, align them to the right */
  .checkbox-label:nth-child(even) {
    justify-content: flex-end;
  }
  
  /* For odd-indexed labels, align them to the left */
  .checkbox-label:nth-child(odd) {
    justify-content: flex-start;
  }
  

.form-control{
    border-color: grey !important;
    width: auto !important; 
}

.custombtn:hover{
        background-color: #fff;
        color: #00bef0;
}

.custombtn {
    background-color: orange;
    border-radius: 21px;
    color: #fff;
    border:0px;
    display: inline-block;
    font-size: 16px;
    font-weight: 1000;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}