.product-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  /* h2 {
    text-align: center;
    margin-bottom: 20px;
  } */
  
  .form-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .form-left {
    flex: 1;
    padding: 0 20px;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-right {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  

  .textarea2{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .select2{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
    .textarea1 {
        height: 10rem;
    }
  
  /* select {
    height: 40px;
  } */
  
  .add-product-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .add-product-button:hover {
    background-color: #45a049;
  }
  
  .image-preview {
    text-align: center;
    margin-top: 20px;
  }
  
  .image-preview img {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  